body,html{
    background-color: #eee;
}
.khung14{
    width: 60%;
    height: 625px;
    /* border: 1px solid; */
    background-color: white;
    margin-top: 10px;
    margin-left: 60px;
    float: left;
}
.khungnho13{
    width: 100%;
    height: 30px;
    background-color: #eee;
    /* border: 1px solid; */
}
.khungnho13 a{
    text-decoration: none;
    color: black;
}
.khungnho14{
    width: 30%;
    height: 95%;
    /* border: 1px solid; */
    background-color: white;
    float: left;
}
.khungnho14 img{
    width: 100%;
    height: 45%;
}
.khungnho14 a{
    color: rgb(0, 102, 255);
    text-decoration: none;
    font-size: 18px;
}
.khungnho14 a:hover{
    text-decoration: underline;
}
.khungnho14 li{
    line-height: 30px;
    list-style: none;
}
.khungnho15{
width: 67%;
height: 95%;
/* border: 1px solid; */
float: right;
background-color: white;
}
.khungnho15 h2{
    text-align: center;
    color: red;
    padding-top: 10px;
}
.khungnho15 p{
    text-align: center;
    padding-top: 10px;
}
.nut15{
    width: 150px;
    height: 35px;
    background-color:#2980b9;
    float: left;
    margin-left: 91px;
    padding-top: 5px;
}
.nut15 a{
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nut15 a:hover{
    text-decoration: underline;
}
.nut16{
    width: 150px;
    height: 35px;
    background-color: #e84118;
    float: right;
    margin-right: 91px;
    padding-top: 5px;
}
.nut16 a{
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nut16 a:hover{
    text-decoration: underline;
}
.nut17{
    width: 130px;
    height: 34px;
    background-color:#0097e6;
    float: right;
    margin-right: 200px;
    padding-top: 6px;
}
.nut17 a{
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nut17 a:hover{
    text-decoration: underline;
}
.span a{
    text-decoration: none;
    color: rgb(13, 175, 230);
}
.span a:hover{
    text-decoration: underline;
}
.khung15{
    width: 25%;
    height: 585px;
    float: right;
    margin-right:60px ;
    background-color: white;
    margin-top: 10px;
    /* border: 1px solid; */
}
.tieude2 a{
    color: blue;
    font-size: 18px;
    text-decoration: none;
}
.tieude2 a:hover{
    text-decoration: underline;
}
.khung16{
    width: 60%;
    height:220px;
    /* border: 1px solid; */
    background-color: white;
    margin-top: 20px;
    margin-left: 60px;
    float: left;
    padding-top:2px;
}
.panel {
    margin: 10px;
}
.panel .tieude {
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid rgb(209, 205, 205);
    padding-bottom: 10px;
    color: blue;
    font-size: 20px;
}
.khung16 a{
    margin-left: 8px;
    border-bottom: 1px solid rgb(209, 205, 205);
    padding-bottom: 10px;
    color: black;
    font-size: 17px;
    text-decoration: none;
    line-height: 30px;
}
.khungl6 a:hover{
    text-decoration: underline;
}
#khung17{
    width: 60%;
    height:770px;
    /* border: 1px solid; */
    background-color: white;
    margin-top: 20px;
    margin-left: 60px;
    float: left;
}
.khung18{
 /* border: 1px solid; */
 width: 25%;
 height:472px;
 float: right;
 margin-top: -250px;
 margin-right:60px;
 background-color: white;
}
.khung19{
    width: 60%;
    height:570px;
    /* border: 1px solid; */
    background-color: white;
    margin-top: 10px;
    margin-left: 60px;
    float: left;
}
.khunganh19{
    width: 15%;
    height: 70px;
    /* border: 1px solid; */
    float: left;
}
.khunganh19 img{
    width: 100%;
    height: 100%;
}
.input2{
    width: 98%;
    height: 70px;
    margin-left:1%;
    /* border-radius: 10px; */
    /* margin-bottom: 5px; */
    padding-left: 20px;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid black;
}
.input3{
    width: 83%;
    height: 70px;
    /* margin-left: 110px; */
    float: right;
    padding-left: 20px;
    font-size: 14px;
    margin-right: 1%;
}

.button2{
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(68, 122, 184);
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    padding-bottom: 3px;
}
.button2 img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
}
.khung20{
    width: 25%;
    height: 600px;
    float: right;
    margin-right:60px ;
    background-color: white;
    margin-top: -530px;
    /* border: 1px solid; */
}
.khung21{
    /* border: 1px solid; */
    width: 25%;
    height:500px;
    float: right;
    margin-top: 10px;
    margin-right:60px;
    background-color: white;
}
@media screen and (max-width :1024px) {
    .khung14{
        width: 100%;
        margin-left: 0;
        height: 640px;
    }
    .nut15{
        width: 150px;
        height: 35px;
        margin-left: 75px;
    }
    .nut16{
        width: 150px;
        height: 35px;
        margin-right: 75px;
    }
    .nut17{
        margin-right: 160px;
    }
    .khung16{
        width: 100%;
        margin-left: 0px;
    }
    .khung15{
        width: 100%;
        margin-right: 0;
    }
    .xemthem1{
        margin-left: 30%;
        margin-top: -5px;
    }
    #khung17{
        width: 100%;
        margin-left: 0;
    }
    .khung18{
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    .riviunho{
        height: 16%;
    }
    .anhriviu{
        width: 15%;
    }
    .ndriviu{
        width: 83%;
    } 
    .ndriviu a{
        font-size: 14px;
    }
    .khung19{
        width: 100%;
        height: 300px;
        margin-left: 0;
    }
    .khung20{
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
    .khung21{
        width: 100%;
        margin-right: 0;
    }
}
@media screen and (max-width :600px) {
    .khung14{
        height: 700px;
    }
    .khungnho14{
        width: 50%;
    }
    .khungnho15{
        width: 50%;
    }
    .khungnho14 a{
        font-size: 14px;
    }
    .khungnho15 p{
        font-size: 12px;
    }
    .khungnho15 h2{
        font-size: 23px;
    }
    .nut15{
        margin-left: 15%;
        width: 70%;
        font-size: 13px;
    }
    .nut16{
        width: 70%;
        font-size: 13px;
        margin-top: 5px;
        margin-right: 15%;
    }
    .nut17{
        width: 50%;
        margin-right: 25%;
        font-size: 12px;
    }
    .khung16{
        height: 240px;
    }
    .khung15{
        height: 585px;
        float: left;
    }
    .khung18{
        float: left;
    }
    .xemthem1{
        margin-left: 16%;
    }
    .khung19{
        float: right;
    }
    .khung20{
        float: right;
    }
}