body,html{
    background-color: #eee;
}
.khungleft1{
    width: 55%;
    height: 2220px;
    /* border: 1px solid; */
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    background-color: white;
}
@media screen and (max-width :1024px) {
    .khungleft1{
        width: 100%;
        margin-left: 0;
        float: left;
    }
}
.khungright1{
    width: 25%;
    height: 2000px;
    /* border: 1px solid; */
    margin-top: 30px;
    float: right;
    margin-right: 100px;
}
.khung22{
    width: 100%;
    height: 1970;
    background-color: white;
    /* border: 1px solid; */
}
.theom{
    width: 100%;
    height: 30px;
    /* border: 1px solid; */
    margin-top: 5px;
}
.nutnho3{
    width: 20%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.63);
    padding-top: 5px;
    float: left;
    margin-left: 12px;
    text-align: center;
}
.nutnho3 a{
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.904);
}
.nutnho3 a:hover{
    text-decoration: underline;
}
.khungnho21{
    /* border: 1px solid; */
    width: 100%;
    height: 1885px;
    margin-top: 60px;
}
.khungnho22{
    width: 99%;
    height: 70px;
    /* border: 1px solid; */
    background-color: white;
    margin: 3px;
}
.khungnho22trai{
    width: 50px;
    height: 100%;
    float: left;
}
.khungnho22trai img{
    height:90%;
    width: 100%;
}
.khungnho22phai{
    /* border: 1px solid; */
    height: 100%;
    width: 609px;
    float: left;
}
.khungnho23{
    width: 100%;
    height: 30%;
    float: left;
    /* border: 1px solid; */
    padding-left: 5px;
}
.khungnho23 a{
    text-decoration: none;
    color: black;
    float: left;
}
.khungnho23 a:hover{
    text-decoration: underline;
}
.khungnho24{
    width: 100%;
    height: 50%;
    float: left;
    padding-left: 5px;
    color: black;
    padding-top: 5px;
}
.spangoc{
    color: black;
    font-size:13px;
    float: right;
    margin-right: 55px;
}
.spandep{
    border: 1px solid rgb(0, 132, 255);
    margin-left: 5px;
    color: rgb(0, 132, 255);
    font-size: 13px;
    float: right;
    margin-top: 2PX;
}
.spanfull{
    border: 1px solid rgb(47, 255, 99);
    margin-left: 5px;
    color: rgb(47, 255, 82);
    font-size: 13px;
    float: right;
    margin-top: 2PX;
}
.khung26{
    width: 98%;
    height: 200px;
    /* border: 1px solid; */
    margin: 5px;
}
.left26{
    width: 30%;
    height: 100%;
    float:left;
}
.left26 img{
   width:80%;
   height: 90%;
   margin-top: 10px;
   margin-left: 20px;
}
.right26{
    width: 70%;
    height: 100%;
    float: left;
    padding-top: 20px; 
    color: #fff; 
}
.right26 p{
    margin-top: 10px;
    font-size: 16px;
}
.right26 img{
    height: 20px;
}
.right26 a{
    color: white;
    font-size: 23px;
    text-decoration: none;
}
.right26 a:hover{
    text-decoration: underline;
}
.nutdo{
    width: 80px;
    height: 35px;
    background-color: rgb(201, 28, 28);
    margin-top: 12px;
    margin-left: 2px;
}
.nutdo a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
}
.nutdo a:hover{
    text-decoration: underline;
}
.khung30{
    width: 100%;
    height: 600px;
    /* border: 1px solid; */
    background-color: white;
}
.khung30 p{
    color: black;
    font-size: 17px;
    /* text-align: center; */
}
.khung30 li{
    color: black;
    font-size: 17px;
    margin-left:5px;
}
.khung31{
    width: 100%;
    height:500px;
    /* border: 1px solid; */
    margin-top: 20px;
    background-color: white;
}
.khung32{
    width: 100%;
    height:475px;
    /* border: 1px solid; */
    margin-top: 20px;
    background-color: white;
}
.khung33{
    width: 100%;
    height:580px;
    /* border: 1px solid; */
    margin-top: 20px;
    background-color: white;
}
.dautrang{
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-top: 40px;
}
.nutso{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    font-weight: 600;
}
.nutso a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
}
.nutso a:hover{
    text-decoration: underline;
}
.nutso1{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    background-color: rgb(18, 96, 214);
    font-weight: 600;
}
.nutso1 a{
    text-decoration: none;
    color: white;
}
.nutso1 a:hover{
    text-decoration: underline;
}
@media screen and (max-width:600px) {
    .khungleft1{
        height: 2550px;
    }
    .nutnho3{
        width:105px;
        margin-left: 2px;
        height: 35px;
        padding-top: 0;
    }
    .khungnho22{
        margin-top: 20px;
    }
    .khungnho22trai{
        width: 12%;
    }
    .khungnho22phai{
        width: 78%;
    }
    .khungnho23 a{
        font-size: 10px;
    }
    .spanleft{
        font-size: 10px;
    }
    .spandep{
        font-size: 10px;
    }
    .spanfull{
        font-size: 10px;
    }
    .spanmid{
        font-size: 13px;
    }
    .spangoc{
        font-size: 12px;
        margin-right: 10px;
    }
    .khungnho24{
        font-size: 12px;
    }
    .dautrang{
        width: 40%;
        margin-left: 30%;
    }
    .left26 img{
        margin-left: 10px;
        width: 90%;
    }
}
@media screen and (max-width:1024px) {
    .khungright1{
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }
    .khung32{
        height: 480px;
    }
    .riviu{
        height: 410px;
    }
    .khungcuoi{
        margin-top: 240px;
    }
}